.await_list__header {
    display: grid;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: #5F6F7A;
    grid-template-columns: 10% 15% 10% 15% 15% 20% 15%;
}

.await_list_content {
    display: flex;
    gap: 10px;
    flex-direction: column;
}